@charset "utf-8";

// ビジネスエリアのテキスト＋画像のセット

.c-card {
    margin-bottom: 30px;
    &__text {
        font-size: 14px;
        position: relative;
        margin-left: 18px;
        &::before {
            content: "";
            width: 8px;
            height: 1px;
            background-color: #000;
            position: absolute;
            top: 50%;
            left: -18px;
        }
    }
    &__img {
        margin: 10px 16px 0 0;
        max-width: 900px;
        
        width: 100%;
        object-fit: cover;
    }
    @include media(pc) {
        margin-bottom: 50px;
    }
}