@charset "utf-8"; 

// アバウトセクションとカンパニーセクションに用いた画像の設定

.c-feature {
        height: 300px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 30px;
        @include media(pc) { 
            width: 100%;
            height: 400px;
            object-fit: cover;
        }
    
}