@charset "utf-8";

// 1度しか使わないけど、最小単位であるためcomponent

.c-mainvisual {
    img {
        height: calc(100vh - 80px);
        width: 100%;
        object-fit: cover;
        @include media(pc) {}
    }
}