@charset "utf-8";

// 最小の単位ではないが、エリアごとに使い回せるためcomponentにした
// 大きいかたまりに見えるが、「ブロックを包括するパーツ」として見ると最小単位

.c-wrapper {
    margin: 80px 16px 15px 16px;
    &:last-of-type {
        margin-bottom: 0;
    }
    @include media(pc) {
        width: 100%;
        max-width: 1032px;
        margin: 120px auto;
        padding: 0 3%;
    }
}

