@charset "utf-8";
.p-footer {
    // background-color: #fff;
    &__content {
        padding: 40px 16px 0 16px;
    }
    &__text {
        font-size: 14px;
        line-height: 1.5;
    }
    &__copyWrite {
        display: block;
        font-size: 12px;
        margin: 40px 16px 0 16px;
        padding-bottom: 20px;
    }
    @include media(pc) {
        height: 209px;
        max-width: 900px;
        margin: 0 auto;
        &__content {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            width: 900px;
        }
    }
}